<%- include('../../Defaults/header') %>
<div class="container mt-5 d-flex justify-content-center">
    <div id="user_form">
        <h2 class="text-center">User Register</h2>
        <form action="/user/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" value="<%= old.username ?? '' %>">
                <% if (error.username){ %>
                    <div class="text-danger"><%= error.username %></div>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" value="<%= old.email ?? '' %>">
                <% if (error.email){ %>
                    <div class="text-danger"><%= error.email %></div>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" value="<%= old.password ?? '' %>">
                <% if (error.password){ %>
                    <div class="text-danger"><%= error.password %></div>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="password_confirmation" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm your password" value="<%= old.password_confirmation ?? '' %>">
                <% if (error.password_confirmation){ %>
                    <div class="text-danger"><%= error.password_confirmation %></div>
                <% } %>
            </div>
            <div class="d-flex justify-content-evenly align-items-center">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/user/login">Login Here</a>
            </div>
        </form>
    </div>
</div>

<%
if (message){ %>
    <script src="/libraries/sweetalert2.all.min.js"></script>
    <script>
        Swal.fire({
            icon: 'warning',
            title: '<%= message %>',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
<% }
%>

<%- include('../../Defaults/footer') %>
